<div class="container">
    {{> header}}
    <div>
        <h1>Home Page</h1>
       
                <a href="#">Go To Team</a>
            
                <p>You are currently not a member of a team. View the <a href="#">catalog</a> to join or create one.</p>
            
        
            <p>You are currently not logged in. <a href="">Log in</a> / <a href="#">Register</a></p>
        
    </div>
</div>
{{> footer}}