<header>
    <div class="jumbotron">
        <h1>Team Manager</h1>
            <span>Welcome, {username}</span>
        <nav>
            <a href="#" class="btn btn-default">Home</a>
            <a href="#" class="btn btn-default">About</a>
            
                <a href="#" class="btn btn-default">Catalog</a>
                <a href="#" class="btn btn-default">Logout</a>
            
                 <a href="#" class="btn btn-default">Login</a>
                 <a href="#" class="btn btn-default">Register</a>
            
        </nav>
    </div>
</header>