<div class="container">
    <div class="details-box">
        <span class="titlebar">{name} details</span>
        <span class="spanner">Team members</span>
        <div>
           
                <p>No member info</p>
            
        </div>
        <span class="spanner">Description</span>
        
            <p>{comment}</p>
        
            <p>No description</p>
        
        <span class="spanner">Team management</span>
            
    </div>
</div>

