<div class="container">
    {{> header}}
    <div class="details-box">
        <span class="titlebar" id="name">{{team.name}} details</span>
        <span class="spanner">Team members</span>
        <div>
        {{#if teamMembers}}
            {{#each teamMembers}}
                {{> teamMember}}
            {{/each}}
        {{else}}
            <p>No member info</p>
        {{/if}}
        </div>
        <span class="spanner">Description</span>
        {{#if team.comment}}
            <p>{{team.comment}}</p>
        {{else}}
            <p>No description</p>
        {{/if}}
        <span class="spanner">Team management</span>
         {{> teamControls}}   
    </div>
</div>

{{> footer}}