<a href="#" class="team-box">
    <span class="spanner">Team name</span>
    <span class="title">{name}</span>
    <span class="spanner">Description</span>
            <p>{comment}</p>
            <p>No description</p>
</a>